
Progra1/.vscode/settings.json
Progra1/.idea/workspace.xml
Progra1/.idea/vcs.xml
Progra1/.idea/Progra1.iml
Progra1/.idea/other.xml
Progra1/.idea/modules.xml
Progra1/.idea/misc.xml
Progra1/.idea/encodings.xml
.vscode/settings.json
