{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <h1>Upload an image</h1>
        <hr>
        <!--Create form for uploading images-->
        <form action="/upload-image" method="POST" enctype="multipart/form-data">
  
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Flower Images</legend>

                <div class="form-group">
                    <!--Upload Image_01-->
                    {{ form.image_01.label() }}
                    {{ form.image_01(class="form-control-file") }}
                    {% if form.image_01.errors %}
                        {% for error in form.image_01.errors %}
                            <span class="text-danger"> {{ error }} </span><br/>
                        {% endfor %}
                    {% endif %}
                    <!--Upload Image_02-->
                    {{ form.image_02.label() }}
                    {{ form.image_02(class="form-control-file") }}
                    {% if form.image_02.errors %}
                        {% for error in form.image_02.errors %}
                            <span class="text-danger"> {{ error }} </span><br/>
                        {% endfor %}
                    {% endif %}
                    <!--Upload Image_03-->
                    {{ form.image_03.label() }}
                    {{ form.image_03(class="form-control-file") }}
                    {% if form.image_03.errors %}
                        {% for error in form.image_03.errors %}
                            <span class="text-danger"> {{ error }} </span><br/>
                        {% endfor %}
                    {% endif %}
                    <!--Upload JSON-->
                    {{ form.json.label() }}
                    {{ form.json(class="form-control-file") }}
                    {% if form.json.errors %}
                        {% for error in form.json.errors %}
                            <span class="text-danger"> {{ error }} </span><br/>
                        {% endfor %}
                    {% endif %}
                </div>
                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
  
        </form>

        <form>
            <input type="submit" name="building" value="casinos">
        </form>
  
      </div>
    </div>
  </div>
{% endblock content %}
                